#taskInfo{
  min-width: 200px;
  max-width: 200px;
}
#taskDate{
  min-width: 150px;
  max-width: 150px;
}
#taskImportance{
  min-width: 125px;
  max-width: 125px;
}
.checkboxLabel{
  min-width: 70px;
  max-width: 70px;
}
.addTaskGroup{
  display: none;
}
body {
  background-color: cornsilk;
}